@font-face {
    font-family: Arabic;
    src: url(/khalifa_report_customizations/static/src/fonts/ARABIC-LIGHT.ttf);
}
@font-face {
    font-family: Cairo;
    src: url(/khalifa_report_customizations/static/src/fonts/Cairo-Regular.ttf);
}
