@font-face {
    font-family: A_Nefel_Sereke;
    src: url(/saudi_vat_invoice_print/static/src/fonts/A_Nefel_Sereke.ttf);
}
@font-face {
    font-family: Cairo;
    src: url(/saudi_vat_invoice_print/static/src/fonts/Cairo-Regular.ttf);
}
